@import "{{ site.theme }}";

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
            margin: 20px;
            background-image: url('[https://github.com/cjyyiii/cjy.github.io/blob/main/images/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20230630205759.jpg?raw=true]');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
}

header, nav, main, footer {
    padding: 20px;
}

h1 {
    color: #007bff;
}
/* 添加其他样式 */
